<h1>All Properties</h1>

<input class="search"></input>

<label>Sort By:</label>
<select class = "sort" name="Sort By:">
    <option value=".tiebreaker_sort">Default</option>
    <option value=".user_rating .tiebreaker_sort">Rating</option>
    <option value=".sleeps_max .sleeps_comforatbly .tiebreaker_sort">Sleep Space</option>
</select>

<label>Min Beds:</label>
<select class="filter">
    <% (1..@max_guests).to_a.reverse.each do |beds| %>
        <option <%= "selected" if beds == @max_guests %>><%= beds %></option>
    <% end %>
</select>

<div class="flex-table">
    <div class="header">
        <div class="row">
            <div class="cell title">Title</div>
            <div class="cell sleeps_max">Sleeps Max</div>
            <div class="cell sleeps_comforatbly">Sleeps Comfortably</div>
            <div class="cell user_rating">User Rating</div>
        </div>
    </div>
    <div class="body search-target sort-target filter-target">
        <% @properties.each do |property| %>
            <div class="row">
                <div class="cell title">
                    <%= link_to property.title, property_path(property) %>
                </div>
                <div class="cell sleeps_max">
                    <%= property.sleeps_max %>
                </div>
                <div class="cell sleeps_comforatbly">
                    <%= property.sleeps_comfortably %>
                </div>
                <div class="cell user_rating">
                    <%= property.user_rating %>
                </div>
                <div class="cell tiebreaker_sort">
                    <%= property.tiebreaker_sort %>
                </div>
            </div>
        <% end %>
    </div>
</div>